.post-list {
  /* h1 { */
  /*   text-align: center; */
  /* } */

  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;

  li {
    margin-bottom: 1rem;
    list-style-type: circle;
  }
}

.blog_post {
  > header {
    margin-bottom: 4rem;
    text-align: center;
    /* border-bottom: 1px solid rgb(242, 242, 242); */

    h1 {
      margin-bottom: 0;
      line-height: 1.2;
    }

    hr {
      width: 180px;
      border: 1px solid var(--meta-color);
    }
  }

  &__meta {
    color: var(--meta-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: smaller;
    display: flex;
    justify-content: center;
    gap: .5rem;

    span[itemProp="timeRequired"] {
      /* display: block; */
      /* margin-bottom: 1rem; */
    }

    &__sep {
    }

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      /* justify-content: space-between; */
      gap: 1em;
      padding: 0;

      li {
        list-style-type: none;

        &:not([aria-hidden='true']) {
          list-style-type: none;
        }

        &[aria-hidden='true'] {
          background: black;
          width: 1px;
          height: 10px;
        }
      }
    }
  }

  h2, h3, h4, h5, h6 {
    .gutenberg-anchor, .zola-anchor {
      margin-left: 10px;
      visibility: hidden;
    }

    &:hover {
      .gutenberg-anchor, .zola-anchor {
        visibility: visible;
      }
    }
  }

  h1, h2, h3, h4, h5, h6, blockquote, ul, ol, table, pre, p {
    max-width: $container-width;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  text-align: left;

  &__image {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    text-align: center;
  }

  .twitter-tweet {
    margin: 2rem auto !important;
  }

  table {
    border-collapse: collapse;
    margin-bottom: 2rem;
    margin-top: 2rem;

    th, td {
      vertical-align: top;
      text-align: center;
      border: 1px solid #ccc;
      padding: 0.5rem;
    }
  }

  > footer {
    margin-top: 4rem;
    text-align: center;
    font-size: smaller;

    > a {
      color: var(--meta-color);
      border-color: var(--meta-color);
    }
  }
}


.image-link {
  display: block;
  border-bottom: none;

  &:hover {
    border-bottom: none;
  }
}
