/* Theme colors scheme */
:root {
  --bg: white;
  --text: black;
  --link-color: #2f76d0;
  --code-bg: #f5f5f5;
  --meta-color: #9AA6B2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #242424;
    --text: white;
    --link-color: gold;
    --code-bg: darkgray;
    --meta-color: lightgrey;
  }
}

#dark-mode {
  margin-right: 0.5rem;
}

body:has(#dark-mode:checked) {
  --bg: #242424;
  --text: white;
  --link-color: gold;
  --code-bg: darkgray;
  --meta-color: lightgrey;
}

@media (prefers-color-scheme: dark) {
  body:has(#dark-mode:checked) {
    --bg: white;
    --text: black;
    --link-color: #2f76d0;
    --code-bg: #f5f5f5;
    --meta-color: #9AA6B2;
  }
}

/* Making the toggle a bit nicer */
#dark-mode {
  display: none;
}

#theme-toggle {
  display: block !important;

  svg {
    width: 1.3rem;
    height: 1.3rem;
    aspect-ratio: 1/1;
    display: inline-block;
    vertical-align: middle;
    color: var(--text);
    fill: var(--text);
    background-color: transparent;
    cursor: pointer;
  }

  svg#dark-mode-icon:hover {
    color: #2f76d0;
  }

  svg#light-mode-icon:hover {
    color: gold;
  }
}

/* Label switching support */
body {
  --display-light: none;
  --display-dark: initial;
  transition: all .2s ease-in-out;
}

body:has(#dark-mode:checked) {
  --display-light: initial;
  --display-dark: none;
}

#theme-toggle #light-mode-icon {
  display: var(--display-light);
}

#theme-toggle #dark-mode-icon {
  display: var(--display-dark);
}
