/* Theme colors scheme */
/* Syntax colors are based on https://github.com/sonph/onehalf pallet */

// Light colors
@mixin theme-light-variables {
  --bg: white;
  --text: black;
  --link-color: #2f76d0;
  --meta-color: #9AA6B2;

  --code-color-01: #383a42;
  --code-color-02: #fafafa;
  --code-color-03: #a0a1a7;
  --code-color-04: #a626a4;
  --code-color-05: #e45649;
  --code-color-06: #0184bc;
  --code-color-07: #c18401;
  --code-color-08: #50a14f;
  --code-color-09: #98c379;
  --code-color-10: #e06c75;
  --code-color-11: #e5c07b;
  --code-color-12: #0997b3;
  --code-color-13: #c678dd;
}

// Dark colors
@mixin theme-dark-variables {
  --bg: #242424;
  --text: white;
  --link-color: gold;
  --meta-color: lightgrey;

  --code-color-01: #dcdfe4;
  --code-color-02: #282c34;
  --code-color-03: #5c6370;
  --code-color-04: #c678dd;
  --code-color-05: #e06c75;
  --code-color-06: #61afef;
  --code-color-07: #e5c07b;
  --code-color-08: #98c379;
  --code-color-09: #98c379;
  --code-color-10: #e06c75;
  --code-color-11: #e5c07b;
  --code-color-12: #56b6c2;
  --code-color-13: #c678dd;
}

:root {
  @include theme-light-variables();
}

@media (prefers-color-scheme: dark) {
  :root {
    @include theme-dark-variables();
  }
}

#dark-mode {
  margin-right: 0.5rem;
}

body:has(#dark-mode:checked) {
  @include theme-dark-variables();
}

@media (prefers-color-scheme: dark) {
  body:has(#dark-mode:checked) {
    @include theme-light-variables();
  }
}

/* Making the toggle a bit nicer */
#dark-mode {
  display: none;
}

#theme-toggle {
  display: block !important;

  svg {
    width: 1.3rem;
    height: 1.3rem;
    aspect-ratio: 1/1;
    display: inline-block;
    vertical-align: middle;
    color: var(--text);
    fill: var(--text);
    background-color: transparent;
    cursor: pointer;
  }

  svg#dark-mode-icon:hover {
    color: #2f76d0;
  }

  svg#light-mode-icon:hover {
    color: gold;
  }
}

/* Label switching support */
body {
  --display-light: none;
  --display-dark: initial;
  transition: all .2s ease-in-out;
}

body:has(#dark-mode:checked) {
  --display-light: initial;
  --display-dark: none;
}

#theme-toggle #light-mode-icon {
  display: var(--display-light);
}

#theme-toggle #dark-mode-icon {
  display: var(--display-dark);
}

/* Syntax theme colors scheme */
/* @import url("syntax-theme-dark.css") (prefers-color-scheme: dark); */
/* @import url("syntax-theme-light.css") (prefers-color-scheme: light); */
@import "syntax-theme.scss";
