<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}Max homepage{% endblock description %}">
    <meta name="author" content="{{ config.extra.author }}">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ get_url(path="site.css", cachebust=true) }}" />
    <link rel="shortcut icon" type="image/png" href="{{ get_url(path="favicon.png") }}"/>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    <!-- <script src="https://kit.fontawesome.com/f91b95dbd1.js" crossorigin="anonymous"></script> -->
  </head>

  <body>
    <div id="root">
      <header id="header">
        <ul class="breadcrumb">
          <li><a href="/">Max Claus</a></li>
          {% block breadcrumb %}{% endblock breadcrumb %}
        </ul>
        <ul class="menu">
          <li><a href="/">About</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/resume/">Resume</a></li>
          <li>
            <input id="dark-mode" type="checkbox" name="dark-mode" aria-label="Toggle theme">
            <label id="theme-toggle" for="dark-mode" style="display: none">
              <svg id="light-mode-icon" viewBox="0 0 32 32" width="100%" height="100%" preserveAspectRatio="xMidYMid meet">
                <circle cx="15" cy="15" r="6" fill="currentColor" />

                <line
                    id="ray"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    x1="15"
                    y1="1"
                    x2="15"
                    y2="4"
                    ></line>

                <use href="#ray" transform="rotate(45 15 15)" />
                <use href="#ray" transform="rotate(90 15 15)" />
                <use href="#ray" transform="rotate(135 15 15)" />
                <use href="#ray" transform="rotate(180 15 15)" />
                <use href="#ray" transform="rotate(225 15 15)" />
                <use href="#ray" transform="rotate(270 15 15)" />
                <use href="#ray" transform="rotate(315 15 15)" />
              </svg>
              <svg id="dark-mode-icon" viewBox="0 0 32 32" width="100%" height="100%" preserveAspectRatio="xMidYMid meet">
                <path
                    fill="currentColor"
                    d="
                       M 23, 5
                       A 12 12 0 1 0 23, 25
                       A 12 12 0 0 1 23, 5"
                    />
              </svg>
            </label>
          </li>
        </ul>
      </header>

      <div id="content">
        {% block content %}
        <div id="home-intro">
          {% set avatar = resize_image(path="/avatar.jpeg", width=125, op="fit_width", quality=100, format="webp") %}
          <img class="avatar" src="{{ avatar.url }}" alt="Max's profile picture">
          <p>
          Hello! I'm <b>Max</b>, a developer from Brazil.
          </p>
          <p>I am currently seeking a new remote job, check out my <a href="/resume">resume</a>. Previously, I worked at <a href="https://www.linkedin.com/company/invisionapp">InVision</a> over 8 years.</p>
          <!-- <a href="{{ get_url(path="rss.xml") }}"> RSS </a> -->
          <p>
          You can also find me on <a href="https://github.com/maxclaus">GitHub</a> and <a href="https://www.linkedin.com/in/maxclaus/">LinkedIn</a>.
          </p>
          <p>
          <a href="mailto:maxclaus@posteo.com">Say hi</a> or <a href="/blog/">check out my posts</a>.
          </p>
        </div>
        {% endblock content %}
      </div>
      <footer id="footer">
        <p> Copyright © 2025 Max Claus. All rights reserved. </p>
      </footer>
      <div hidden itemscope itemtype="http://schema.org/Person">
        <span itemprop="gender">Male</span>
        <span itemprop="email">maxclaus@posteo.com</span>
        <span itemprop="givenName">Max</span>
        <span itemprop="familyName">Claus</span>
        <span itemprop="name">Max Claus Nunes</span>
        <span itemprop="birthDate">1989-09-12</span>
        <span itemprop="jobTitle">Software Engineer</span>
        <span itemprop="nationality">BR</span>
        <div itemprop="alumniOf" itemscope itemtype="http://schema.org/EducationalOrganization">
          <a itemprop="url" href="https://duckduckgo.com/?t=ffab&q=unopar&atb=v401-1&ia=web">
            <span itemprop="name">UNOPAR</span>
          </a>
        </div>
        <div itemprop="alumniOf" itemscope itemtype="http://schema.org/EducationalOrganization">
          <a itemprop="url" href="https://www.unopar.com.br">
            <span itemprop="name">UNOPAR</span>
          </a>
        </div>
        <a href="https://maxclaus.xyz" itemprop="url">Portfolio</a>
        <a href="https://maxclaus.xyz/blog" itemprop="url">Blog</a>
      </div>
    </div>
  </body>
</html>
